@import "tailwindcss";
@tailwind utilities;

@theme {
  --no-black-lighter: #2f2729;
  --no-black: #1e191a;
  --no-gray: #8f8981;
  --no-white: #e6e3df;
  --bare-white: #f4f3f2;
  --radioactive: #aedb33;
  --radioactive-light: #cfe874;
  --taffy: #fb82c4;
}

@layer base {
  html,
  body {
    @apply bg-[var(--no-black)] text-[var(--no-white)];
    background-image: url("../assets/dark-tire.png");
  }
  #root {
    @apply flex flex-col items-center justify-center;
  }

  h1 {
    font-family: "Londrina Solid", sans-serif;
    @apply leading-[85%] font-normal uppercase;
  }

  h2 {
    font-family: "Barlow Condensed", sans-serif;
    @apply font-bold uppercase text-5xl;
  }

  p {
    font-family: "Roboto Mono", monospace;
    @apply font-normal leading-4 lg:leading-6 text-sm lg:text-base;
  }

  button {
    font-family: "Anton", sans-serif;
    @apply font-normal uppercase text-base lg:text-lg;
  }

  .chip {
    font-family: "Anton", sans-serif;
    @apply font-normal uppercase text-base lg:text-lg;
  }
}

@layer utilities {
  @media (prefers-reduced-motion: no-preference) {
    .fade-in {
      opacity: 0;
      animation: fade-in ease-in forwards;
      animation-timeline: view();
      animation-range: entry 0% cover 40vh;
    }
  }
  @keyframes fade-in {
    100% {
      opacity: 1;
    }
  }
}
