@import "tailwindcss";
@tailwind utilities;

@theme {
  --no-black-lighter: #2a2425;
  --no-black: #201b1c;
  --no-gray: #8a867d;
  --no-white: #d0cec9;
  --bare-white: #f3f3f3;
  --radioactive: #b0d439;
  --radioactive-light: #c1db6b;
  --taffy: #ef8ccc;
}

@layer base {
  html,
  body {
    @apply bg-[var(--no-black)] text-[var(--no-white)];
    background-image: url("../assets/dark-tire.png");
  }
  #root {
    @apply flex flex-col items-center justify-center;
  }

  h1 {
    font-family: "Londrina Solid", sans-serif;
    @apply leading-[85%] font-normal uppercase;
  }

  h2 {
    font-family: "Barlow Condensed", sans-serif;
    @apply font-bold uppercase text-5xl;
  }

  p {
    font-family: "Roboto Mono", monospace;
    @apply font-normal leading-4 lg:leading-6 text-sm lg:text-base;
  }

  button {
    font-family: "Anton", sans-serif;
    @apply font-normal uppercase text-base lg:text-lg;
  }

  .chip {
    font-family: "Anton", sans-serif;
    @apply font-normal uppercase text-base lg:text-lg;
  }
}

@layer utilities {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fade-in cubic-bezier(0.4, 0, 0.2, 1) forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }

  .no-fade-in {
    animation: none;
  }
}
