:root {
  /* COLORS */
  --no-black: #2a2425;
  --no-gray: #8a867d;
  --no-white: #d0cec9;
  --bare-white: #f3f3f3;
  --radioactive: #b0d439;
  --radioactive-light: #c1db6b;
  --taffy: #ef8ccc;

  /* SPACINGS */
  --spacing-xxs: 0.25rem; /* 4px  / 16px */
  --spacing-xs: 0.5rem; /* 8px  / 16px */
  --spacing-sm: 0.75rem; /* 12px / 16px */
  --spacing-md: 1rem; /* 16px / 16px */
  --spacing-lg: 1.5rem; /* 24px / 16px */
  --spacing-xl: 2rem; /* 32px / 16px */

  /* FONT SIZES */
  --font-size-sm: 0.875rem; /* 14px / 16px */
  --font-size-md: 1rem; /* 16px / 16px */
  --font-size-xl: 1.75rem; /* 28px / 16px */
  --font-size-xxl: 3rem; /* 48px / 16px */
  --font-heading: 6rem; /* 96px / 16px */

  /* BORDER */
  --border-radius: 1.25rem; /* 20px / 16px */
}

.spacing-4 {
  padding: var(--spacing-xxs);
}
.spacing-8 {
  padding: var(--spacing-xs);
}
.spacing-12 {
  padding: var(--spacing-sm);
}
.spacing-16 {
  padding: var(--spacing-md);
}
.spacing-24 {
  padding: var(--spacing-lg);
}
.spacing-32 {
  padding: var(--spacing-xl);
}

.text-body {
  font-size: var(--font-size-sm);
}
.font-button {
  font-size: var(--font-size-md);
}
.font-subtitle {
  font-size: var(--font-size-xl);
}
.font-title {
  font-size: var(--font-size-xxl);
}
.font-heading {
  font-size: var(--font-heading);
}

.rounded {
  border-radius: var(--border-radius);
}
.rounded-full {
  border-radius: var(--boder-full);
}
