@reference "tailwindcss";

.wrapper {
  @apply max-w-[1400px] w-full;
}
.content-container {
  @apply w-full  gap-4 lg:gap-6 place-items-stretch;
  @apply columns-1 lg:columns-2; /* Masonry columns */

  > article {
    @apply mb-4 lg:mb-6 break-inside-avoid mx-auto; /* Center articles in columns */
  }
}

.white-card {
  @apply text-[var(--no-black)] bg-[var(--no-white)] max-w-lg w-full px-3 lg:px-8 lg:py-8 pt-2 pb-8 rounded-3xl space-y-3 lg:space-y-6;

  .image-container {
    @apply flex flex-row gap-3 justify-start mb-4;
    img {
      @apply aspect-square object-cover bg-[var(--no-black)] rounded-3xl select-none;
    }

    .first-image {
      @apply w-3/9;
    }
    .second-image {
      @apply w-4/9;
    }
  }
}

.chip-container {
  @apply flex flex-row gap-2 items-center justify-start flex-wrap;
}
.chip {
  @apply w-fit px-4 py-2 rounded-full uppercase border-2;
}

.description {
  @apply w-4/5;
}

.outline-card {
  @apply text-[var(--radioactive)] max-w-lg w-full px-4 py-4 lg:px-8 lg:py-8 rounded-3xl space-y-3 lg:space-y-6 border-2;

  .sticker-container {
    @apply grid grid-cols-3 grid-rows-2 gap-2 justify-items-center items-center;
    > :first-child {
      @apply col-span-3;
    }
  }
}

.content-link {
  @apply bg-[var(--radioactive)] text-[var(--no-black)] gap-2 rounded-3xl px-4 py-2 w-full;
  &:hover {
    @apply underline;
  }
}

.radioactive-card {
  @apply text-[var(--no-black)] max-w-lg bg-[var(--radioactive-light)] lg:space-y-6 lg:px-8 lg:py-8 w-full px-4 pt-3 pb-4 rounded-3xl space-y-6;
}

.service {
  @apply space-y-3;
}

.image-container-even {
  @apply grid grid-cols-2 gap-3;

  img {
    @apply object-cover bg-[var(--no-black)] rounded-3xl select-none;
  }
}

.keychain-container {
  @apply grid grid-cols-2 gap-6 place-items-center;

  .keychain-card {
    @apply flex flex-col items-center justify-center gap-3;
  }

  > :last-child {
    @apply col-span-2;
  }
}

.dark-scheme {
  @apply bg-[var(--no-black)] text-[var(--no-white)];
}

.pink-card {
  @apply bg-[var(--taffy)] text-[var(--no-black)] max-w-lg lg:space-y-6 lg:px-8 lg:py-8 w-full px-4 pt-3 pb-4 rounded-3xl space-y-6;
}

.art-gallery-container {
  @apply grid grid-cols-2 grid-rows-2 gap-3;

  > :first-child {
    @apply row-span-2 h-full;
  }
  img {
    @apply object-cover bg-[var(--bare-white)] rounded-3xl select-none;
  }
}

.sacrificio-card {
  @apply bg-[var(--no-white)] text-[var(--no-white)] max-w-lg w-full rounded-3xl overflow-hidden;

  .header-image-container {
    @apply flex justify-center;
    img {
      @apply object-cover bg-[var(--no-black)] select-none aspect-16/9;
    }
  }

  .sacrificio-content {
    @apply p-4 text-[var(--no-black)] lg:space-y-6 lg:px-8 lg:py-8 flex flex-col justify-center items-center px-4 pt-3 pb-4 gap-y-6;

    p {
      @apply text-center;
    }
  }

  iframe {
    @apply w-3/4 aspect-video;
  }

  h2 {
    @apply w-full text-3xl;
  }
}

.sb-container {
  @apply flex flex-col gap-1.5 w-full;

  .merch-list {
    @apply grid grid-cols-2 gap-y-4 gap-x-2;

    .merch-item {
      @apply text-center space-y-1.5;
      .merch-badge {
        @apply text-[var(--no-gray)];
      }
      img {
        @apply aspect-square object-contain bg-[var(--bare-white)] p-4;
      }
    }
  }
}

.event-list {
  @apply flex flex-row gap-2 overflow-x-auto;

  img {
    @apply aspect-9/16 w-1/3 object-cover bg-[var(--bare-white)] select-none;
  }
}

.social-links {
  @apply flex flex-row gap-2;

  a {
    @apply text-[var(--no-black)] bg-[var(--no-black)] p-3 hover:bg-[var(--radioactive-light)] transition-colors;
    svg {
      @apply w-6 h-6 fill-[var(--no-white)];
    }
  }
}

footer {
  @apply bg-[var(--no-black)] text-[var(--no-white)] text-center p-4;

  img {
    @apply aspect-square object-contain w-24 mx-auto mb-2;
  }
  .footer-text {
    @apply text-sm;
  }
}

header {
  @apply w-full bg-[var(--no-black)] top-0 text-[var(--no-white)] fixed z-50 h-16;
}
.main-nav {
  @apply px-4 w-full h-full  flex items-center justify-between bg-[var(--no-black)] text-[var(--no-white)];

  .logo {
    font-family: "Londrina Solid", sans-serif;
    @apply text-2xl font-bold uppercase;
  }

  button {
    @apply p-2 hover:bg-[var(--radioactive-light)] transition-colors cursor-pointer;
  }

  svg {
    @apply w-8 h-8 fill-[var(--radioactive)];
  }
}

.mobile-menu {
  @apply absolute w-full right-0 lg:w-md text-[var(--no-black)] z-50 transition-all;

  .menu-list {
    @apply rounded-3xl flex flex-col items-end justify-center gap-4 p-4 bg-[var(--radioactive-light)];
    li {
      @apply text-3xl font-bold uppercase;
      font-family: "Barlow Condensed", sans-serif;
    }
  }
}

.hero-title {
  @apply text-8xl lg:text-9xl uppercase;
}

.hero-content {
  @apply h-[calc(50vh)] lg:max-h-[50rem] w-full rounded-3xl flex flex-col justify-between items-center p-3 mt-16;
  background-image: url("./assets/images/hero.webp");
  border-image: fill 0
    linear-gradient(
      to top,
      rgba(42, 36, 37, 1) 0%,
      rgba(42, 36, 37, 1) 20%,
      rgba(42, 36, 37, 0.85) 40%,
      rgba(42, 36, 37, 0.6) 55%,
      rgba(42, 36, 37, 0) 90%,
      rgba(42, 36, 37, 0) 100%
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
  min-height: 0;
}

.hero-instagram-link {
  @apply w-fit right-4 bg-[var(--taffy)] p-3 rounded-full flex self-start items-center gap-2;
  svg {
    @apply w-6 h-6 fill-[var(--no-black)];
  }
  &:hover {
    @apply underline;
  }
}

.upcoming-events-container {
  @apply flex flex-col gap-3 p-4;

  .event-title-container {
    @apply flex items-center gap-1.5;

    svg {
      @apply w-6 h-6 stroke-[var(--radioactive)];
    }
    h2 {
      @apply text-4xl font-bold uppercase text-[var(--radioactive)];
    }
  }

  .event-list {
    @apply flex flex-col gap-0;
    h3 {
      @apply text-3xl uppercase font-bold leading-6;
      font-family: "Barlow Condensed", sans-serif;
    }

    h4 {
      @apply font-normal text-3xl;
      font-family: "Barlow Condensed", sans-serif;
    }
  }
}

.categories-container {
  @apply flex flex-row gap-2 items-center justify-start flex-wrap text-[var(--no-black)] p-4;

  .category-chip {
    font-family: "Anton", sans-serif;
    @apply bg-[var(--radioactive)] uppercase px-3 py-2 rounded-3xl leading-4;
    &:hover {
      @apply bg-[var(--radioactive-light)] cursor-pointer;
    }
  }
}
